---
import "../../../styles/home-sections-styles/clients.css"

import ClientCarousel from "../ClientCarousel/ClientCarousel.astro";
---

<section class="clients">
    <h2>Empresas que confían en nuestro servicio</h2>
    <p>Brindamos servicio técnico a más de 50 clínicas y centros estéticos en diferentes partes de Costa Rica.</p>
    <div>
        <ClientCarousel/>
    </div>
</section>