---
import "../../../styles/home-sections-styles/hero.css"
import CTAButton from "../CTAButton/CTAButton.astro"
---

<section class="hero-index">
    <div class="hero-text">
        <span class="hero-brand">
            LOGIC ST - SOLUCIONES TECNICAS
        </span>
        <h1 class="hero-title">
            Reparación y mantenimiento 
            de equipo médico y estético
        </h1>
        <p class="hero-description">
            Servicio técnico profesional para clínicas,
            consultorios y centros estéticos.
        </p>
        <div class="hero-cta-container">
            <p class="hero-cta-text">
                ¿Quieres agendar una cita? Contáctanos
            </p>
            <div class="hero-buttons">
                <CTAButton type="whatsapp" />
                <CTAButton type="email" />
                <CTAButton type="facebook" />
            </div>
        </div>
    </div>

    <img class="hero-image" src="images/logic-hand.png" alt="logic-hand" />
</section>