---
import "../../../styles/home-sections-styles/services.css"

import { services } from "../../data/services"

import ServiceCard from "../ServiceCard/ServiceCard.astro"
---

<section class="services">
    <h2 class="services-title">Nuestros Servicios</h2>
    <div class="services-list">
        {
            services.map((service) => (
                <ServiceCard 
                    image={service.image}
                    title={service.title}
                    description={service.description}
                />
            ))
        }
    </div>
</section>