---
import "./ServiceCard.css"
const { image, title, description } = Astro.props
---

<div class="service_item">
    <img src={image} alt={title} />
    <h3>{title}</h3>
    <p>
        {description}
    </p>
</div>