---
import "../../styles/index.css"

import Layout from "../layouts/Layout.astro";

import Hero from "../components/home-sections/Hero.astro";
import Services from "../components/home-sections/Services.astro";
import Clients from "../components/home-sections/Clients.astro";

import ServiceAvailability from "../components/ServiceAvailability.astro";
---

<Layout>
	<main>
		<Hero/>
		<Services/>
		<Clients/>
		<ServiceAvailability />
	</main>
</Layout>