---
import { services } from "../data/services";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<section class="hero-services">
            <h1>Nuestros Servicios</h1>
		</section>
        {
            services.map((service) => (
                <div>
                    <img src={service.image} alt={service.title} />
                    <div>
                        <h2>{service.title}</h2>
                        <p>{service.description}</p>
                    </div>
                </div>
            ))
        }
	</main>
</Layout>