---
import "../../styles/footer.css"
import { contact } from "../data/contact"
import CTAButton from "./CTAButton/CTAButton.astro"
import Navbar from "./Navbar.astro"
---

<div class="footer-curve">
    <svg width="100%" height="100%" viewBox="0 0 1440 600" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <defs>
            <linearGradient id="footer-gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                <stop offset="5%" stop-color="#3d3d3d"></stop>
                <stop offset="95%" stop-color="#888888"></stop>
            </linearGradient>
        </defs>
        <path d="M 0,600 L 0,150 C 95.29186602870814,180 190.58373205741628,210 290,193 C 389.4162679425837,176 492.9569377990431,111.99999999999999 583,115 C 673.0430622009569,118.00000000000001 749.5885167464114,188 850,209 C 950.4114832535886,230 1074.6889952153113,201.99999999999997 1177,184 C 1279.3110047846887,166.00000000000003 1359.6555023923443,158 1440,150 L 1440,600 L 0,600 Z" stroke="none" fill="#0f0f0f" fill-opacity="0.3"/>
        <path d="M 0,600 L 0,350 C 73.17703349282297,379.9425837320574 146.35406698564594,409.8851674641149 255,401 C 363.64593301435406,392.1148325358851 507.7607655502393,344.4019138755981 625,325 C 742.2392344497607,305.5980861244019 832.6028708133971,314.50717703349284 916,329 C 999.3971291866029,343.49282296650716 1075.8277511961724,363.5693779904306 1162,368 C 1248.1722488038276,372.4306220095694 1344.0861244019138,361.21531100478467 1440,350 L 1440,600 L 0,600 Z" stroke="none" fill="#3d3d3d" fill-opacity="1"/>
    </svg>
</div>
<footer class="footer">

    <div class="footer-cta">

        <h2>
            ¿Quieres agendar una cita?
            <span>Contáctanos</span>
        </h2>

        <div class="footer-cta-actions">

            <CTAButton type="whatsapp" />
            <CTAButton type="email" />
            <CTAButton type="facebook" />

        </div>

    </div>

    <div class="footer-brand">

        <img
            src="/images/logo.png"
            alt="LOGIC Soluciones Técnicas"
        />

    </div>

    <div class="footer-contact-information-container">
        <div class="footer-contact-information">
            {
                contact.map((item) => (
                    <div class="footer-contact-item">

                        <div class="footer-contact-icon">
                            <iconify-icon icon={item.icon}></iconify-icon>
                        </div>

                        <p>{item.description}</p>

                    </div>
                ))
            }
        </div>
    </div>

    <div class="footer-navigation">
        <Navbar theme="dark"/>
    </div>

    <hr class="footer-divider">

    <div class="footer-copyright">

        <p>
            © 2026 LOGIC Soluciones Técnicas (LOGIC S.T CR)
        </p>

        <p>
            Developed by DELTA Development and Design
        </p>

    </div>

</footer>