---
import "../../styles/footer.css"
import { contact } from "../data/contact"
import CTAButton from "./CTAButton/CTAButton.astro"
import Navbar from "./Navbar.astro"
---

<footer class="footer">

    <div class="footer-cta">

        <h2>
            ¿Quieres agendar una cita?
            <span>Contáctanos</span>
        </h2>

        <div class="footer-cta-actions">

            <CTAButton type="whatsapp" />
            <CTAButton type="email" />
            <CTAButton type="facebook" />

        </div>

    </div>

    <div class="footer-brand">

        <img
            src="/images/logo.png"
            alt="LOGIC Soluciones Técnicas"
        />

    </div>

    <div class="footer-contact-information-container">
        <div class="footer-contact-information">
            {
                contact.map((item) => (
                    <div class="footer-contact-item">

                        <div class="footer-contact-icon">
                            <iconify-icon icon={item.icon}></iconify-icon>
                        </div>

                        <p>{item.description}</p>

                    </div>
                ))
            }
        </div>
    </div>

    <div class="footer-navigation">
        <Navbar theme="dark"/>
    </div>

    <hr class="footer-divider">

    <div class="footer-copyright">

        <p>
            © 2026 LOGIC Soluciones Técnicas (LOGIC S.T CR)
        </p>

        <p>
            Developed by DELTA Development and Design
        </p>

    </div>

</footer>