---
import "../../styles/navbar.css"

interface Props {
    theme?: "light" | "dark"
}

const {
    theme = "light"
} = Astro.props
---

<nav class={`navbar navbar-${theme}`}>
    <ul class="nav-link-list">
        <li class="nav-link"><a href="/">Inicio</a></li>
        <li class="nav-link"><a href="/services">Servicios</a></li>
        <li class="nav-link"><a href="/contact">Contacto</a></li>
        <li class="nav-link"><a href="/about">Acerca de</a></li>
    </ul>
</nav>