---
import "../../styles/home-sections-styles/serviceAvailability.css"
import { weeklySchedule } from "../data/weeklySchedule"

const daysMap: Record<number, string> = {
	0: "Domingo",
	1: "Lunes",
	2: "Martes",
	3: "Miércoles",
	4: "Jueves",
	5: "Viernes",
	6: "Sábado"
}

const currentDay = daysMap[new Date().getDay()]
---

<section class="service-availability">
    <hr>
    <div class="schedule-container">
        <div>
            <h2>Horario Semanal</h2>
            <p>Disponibilidad de servicio los 5 días de la semana.</p>
        </div>
        <div class="weekly-schedule-container">
            {
                weeklySchedule.map((day) => {
                    const isToday = day.weekday === currentDay

                    return (
                        <div class="schedule-row">
                            {isToday && <span class="today-tag">Hoy</span>}

                            <div class={`row-content ${isToday ? "today" : ""}`}>
                                <span class="weekday">{day.weekday}</span>
                                <span class="schedule">{day.schedule}</span>
                            </div>
                        </div>
                    )
                })
            }
        </div>
    </div>
    <hr>
    <div class="availability-container">
        <img src="images/costa-rica.png" alt="costa-rica-7-provinces" />
        <div>
            <h2>Ofrecemos Servicio en las <span>7 Provincias</span></h2>
        </div>
    </div>
    <hr>
</section>