.hero-index {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4rem 8rem;
	min-height: 90vh;
}

.hero-text {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 700px;
}

.hero-brand {
    letter-spacing: 0.25em;
}

.hero-title {
	font-size: 3rem;
	line-height: 1.1;
}

.hero-description {
	line-height: 1.6;
}

.hero-cta-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-cta-text {
    font-weight: 700;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-cta-button {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 2rem;
    background-color: black;
    color: white;
    gap: 1rem;
    font-size: 15px;
}

.hero-cta-button iconify-icon {
    font-size: 1.5rem;
}

.btn-whatsapp {
    background-color: #25D366;
}

.btn-facebook {
    background-color: #4267B2;
}